@(group: Group)

<div style="display: table; table-layout: fixed;" class="col-xs-12 col-sm-6 col-lg-4 origin-brick">
	<div style="display: table-cell; vertical-align: middle; text-align: center; height: 200px; margin-bottom: 25px;" class="origin-brick-content" id="groups-@group.uuid">
		<div class="origin-brick-title">
			@group.name
		</div>
		<div style="font-size: 15px;">
			@group.description
		</div>
		<div style="margin-top: 20px;" class="text-muted">
			@defining(Group.memberCount(group.uuid)) { count =>
				@count @if(count == 1) {Member} else {Members}
			}
			&bull;
			@defining(Group.originCount(group.uuid)) { count =>
				@count @if(count == 1) {Origin} else {Origins}
			}
			&bull;
			@defining(Group.inkleCount(group.uuid)) { count =>
				@count @if(count == 1) {Inkle} else {Inkles}
			}
		</div>
	</div>
</div>

<script>
	$("#groups-@group.uuid").click(function() {
		renderRoute(jsRoutes.controllers.Groups.templateView("@group.uuid"), "/groups/@group.uuid", "Inklin");
	});
</script>
