@(user: User, groups: Seq[Group])

@container() {
	<h2 class="col-xs-12 text-center" style="font-weight: 200; margin-top: 30px;">Your Groups</h2>

	<div class="col-xs-12" style="margin: 15px 0;">
		<button id="create-group-button" class="btn btn-default btn-hover-green pull-right">
			<span class="glyphicon glyphicon-plus"></span>
			Create a Group
		</button>
	</div>

	@groups.map { group =>
		@templates.groups.group(group)
	}

	<h2 class="col-xs-12 text-center" style="font-weight: 200; margin: 30px 0;">Groups You're a Member</h2>
	@defining(Group.findMembered(user.uuid)) { groups =>
		@if(groups.length == 0) {
			<div class="col-xs-12 text-muted text-center" style="margin: 100px 0;">
				<i>You're not a member of any groups.</i>
			</div>
		}
	}

	<h2 class="col-xs-12 text-center" style="font-weight: 200; margin: 30px 0;">Popular Groups</h2>
	@defining(Group.findPopular(user.uuid)) { groups =>
		@if(groups.length == 0) {
			<div class="col-xs-12 text-muted text-center" style="margin: 100px 0;">
				<i>There are no popular groups for now.</i>
			</div>
		} else {
			@groups.map { group =>
				@templates.groups.group(group)
			}
		}
	}
}