@(currentUser: User)

@defining(Inkle.originsPage(currentUser.uuid)) { origins =>

	<div style="margin-top: 100px; overflow: auto;">
		<h2 style="font-weight: 200; text-align: center;margin-bottom: 15px;">Private Origins</h2>

		@origins.items.map { origin =>
			<div id="origins-@origin._1.uuid" class="col-sm-4 text-center origin-brick">
				<div class="origin-brick-content">
					<div class="origin-brick-title">
						@if(origin._1.deleted) {
							<samp class="text-muted small">
								[DELETED INKLE]
							</samp>
						} else {
							@origin._1.inkle
						}
					</div>
					<div class="text-muted">
					@defining(origin._1.childrenCount) { childrenCount =>
						@defining(origin._1.descendantCount) { descendantCount =>
							@childrenCount @if(childrenCount == 1) {child} else {children} •
							@descendantCount @if(descendantCount == 1) {descendant} else {descendants}
						}
					}
					</div>
				</div>
			</div>
			<script>
				$("#origins-@origin._1.uuid").click(function() {
					renderRoute(jsRoutes.controllers.Inkles.templateOrigin("@origin._1.uuid"), "/origins/@origin._1.uuid", "Inklin");
				});
			</script>
		}
	</div>

}