@(boxes: Seq[Box], currentInkler: Inkler)

@main("Boxes", currentInkler) {

	@helper.form(routes.Boxes.create) {

		<h2>Create a new box</h2>
		<p>
			<input type="text" name="name" placeholder="Box name">
		</p>

		<p>
			<input type="radio" name="secret" value="true">Secret
		</p>

		<p>
			<input type="submit" value="Create">
		</p>
	}

	<h2>@boxes.size Boxes</h2>

	<ul>
	@boxes.map { box =>
		<li>
			<a href="@routes.Boxes.view(box.id)">@box.name</a>
			@if(box.secret) {
				(Secret)
			} else {
				(Open)
			}
		</li>
	}
	</ul>
}