@()

<div class="full-height one-page-scroll">
	<div style="display: table; table-layout: fixed; width: 100%;">
		<div style="display: table-cell; vertical-align: middle;" class="full-height text-center">
			<h3>Origins</h3>

			<h2>Your origins go here.</h2>
		</div>
	</div>
</div>

<div class="full-height one-page-scroll">
	<div style="display: table; table-layout: fixed; width: 100%;">
		<div style="display: table-cell; vertical-align: middle;" class="full-height text-center">
			<h3>Groups</h3>

			<h2>Your groups go here.</h2>
		</div>
	</div>
</div>