@(signupForm: Form[(String, String, String, String)])


@secondary("Inklin : Sign up") {

	@helper.form(routes.Inklers.create()) {
		<div id="signin-page-form">
			<h2>Sign up</h2>
			<table>
				<tr>
					@helper.inputText(
						signupForm("name"),
						'_label             -> None,
						'_showConstraints   -> false,
						'placeholder        -> "Your name"
					)
				</tr>

				<tr>
					@helper.inputText(
						signupForm("email"),
						'_label             -> None,
						'_showConstraints   -> false,
						'placeholder        -> "you@email.com"
					)
				</tr>

				<tr>
					@helper.inputText(
						signupForm("username"),
						'_label             -> None,
						'_showConstraints   -> false,
						'placeholder        -> "Select username"
					)
				</tr>

				<tr>
					@helper.inputPassword(
						signupForm("password"),
						'_label             -> None,
						'_showConstraints   -> false,
						'placeholder        -> "New password"
					)
				</tr>
			</table>
			<input type="submit" value="Sign up">
		</div>
	}
}