@(resetForm: Form[String])(implicit flash: Flash)


@secondary("Inklin : Reset Password") {

	@helper.form(routes.Users.resetPassword()) {
		<div class="col-md-6 col-md-offset-3 text-center">
			<div id="signin-page-form">
				<h2>Forgot Password</h2>
				@resetForm.globalError.map { error =>
					<p class="error">
						@error.message
					</p>
				}

				@helper.inputText(
					resetForm("usernameOrEmail"),
					'_label           -> "",
					'_showConstraints -> false,
					'placeholder      -> "username or email",
					'autofocus        -> "autofocus"
				)
				<div>
					<input type="submit" value="Reset Password" style="width: 100%;">
				</div>
			</div>
			<div id="no-account">
				<span>Not yet on inklin? <a href="@routes.Users.signup()">Create an Account</a><br></span>
			</div>
		</div>
	}
}