@(signinForm: Form[(String, String)])


@secondary("Inklin : Sign in") {

	@helper.form(routes.Users.authenticate()) {
		<div class="col-md-6 col-md-offset-3 text-center">
			<div id="signin-page-form">
				<h2>Sign in</h2>
				@signinForm.globalError.map { error =>
					<p class="error">
						@error.message
					</p>
				}

				@helper.inputText(
					signinForm("usernameOrEmail"),
					'_label           -> "",
					'_showConstraints -> false,
					'placeholder      -> "username or email"
				)
				@helper.inputPassword(
					signinForm("password"),
					'_label           -> "",
					'_showConstraints -> false,
					'placeholder      -> "password"
				)

				<div>
					<input type="submit" value="Sign in" style="width: 100%;">
				</div>
			</div>
			<div id="no-account">
				<span>Don't have an account? <a href="@routes.Users.signup()">Create an Account</a></span>
			</div>
		</div>
	}
}