@(signupForm: Form[(String, String, String, String)])


@secondary("Inklin : Sign up") {

	@helper.form(routes.Users.create()) {
		<div class="col-md-6 col-md-offset-3">
			<div id="signup-page-form">
				<h2>Sign up</h2>
				<table>
					<tr>
						@helper.inputText(
							signupForm("name"),
							'_label             -> None,
							'_showConstraints   -> false,
							'placeholder        -> "your name"
						)
					</tr>

					<tr>
						@helper.inputText(
							signupForm("email"),
							'_label             -> None,
							'_showConstraints   -> false,
							'placeholder        -> "you@email.com"
						)
					</tr>

					<tr>
						@helper.inputText(
							signupForm("username"),
							'_label             -> None,
							'_showConstraints   -> false,
							'placeholder        -> "select username"
						)
					</tr>

					<tr>
						@helper.inputPassword(
							signupForm("password"),
							'_label             -> None,
							'_showConstraints   -> false,
							'placeholder        -> "new password"
						)
					</tr>
				</table>
				<input type="submit" value="Create Account">
			</div>
			<div id="no-account">
				<span>Already on inklin? <a href="@routes.Users.signin()">Sign in</a></span>
			</div>
		</div>
	}
}