@(user: User, pageUuid: String, inkle: (Inkle, User))

@extendForm()(message: Html) = {
  <div class="extend-form-wrapper">
    <div class="extend-form-switch">
      @message
    </div>
    <div style="display:none;" class="red extend-form-div">
    @helper.form(routes.Inkles.extend(inkle._1.uuid, pageUuid.toString), 'class -> "extend-form") {
      <textarea name="inkle" style="width: 100%; border: solid #fafafa; border-width: 0 1px 1px;border-radius: 0 0 8px 8px; font-size: 17px;padding: 15px 15px 3px; text-align: center;box-sizing: border-box;height: 60px;margin: 0; background-color: #fdfdfd;" maxlength="70" class="inkle-textarea" placeholder="how about..."></textarea>

      <div style="float: right; display: none;">
        <input type="submit" value="•••" style="font-size: 16px;color: #fff; border: none;padding: 6px 10px;margin-right: 8px;">
      </div>
    }
    </div>
  </div>
}

<div style="display: table; table-layout: fixed; float: left;" class="col-sm-4 inkle-center-wrapper">
  <div style="font-size: 30px; padding: 0 30px; display: table-cell; vertical-align: middle;" class="full-height">
    <span style="color: #eee;">
    @if(inkle._1.parentUuid.isDefined) { •••<br> } else {
      <span class="glyphicon glyphicon-record"></span><br>
    }
    </span>

    <span data-toggle="tooltip" data-placement="top" title="Edit" style="overflow: auto;" class="pointer inkle-text">
      @if(!inkle._1.deleted) {
        @inkle._1.inkle
      } else {
        <br>
        <samp class="text-muted" style="font-size: 15px">[DELETED INKLE]</samp>
      }
    </span>

    <span class="edit-form-wrapper">
      @helper.form(routes.Inkles.edit(inkle._1.uuid, pageUuid), 'class -> "edit-form") {
        <div class="pull-right">
          <button data-toggle="tooltip" data-placement="top" title="Cancel" class="glyphicon glyphicon-remove edit-form-cancel"></button>
          <button data-toggle="tooltip" data-placement="top" title="Save" class="glyphicon glyphicon-ok edit-form-submit"></button>
        </div>
	      <textarea name="inkle" class="edit-textarea" maxlength="70" style="font-size: 30px; width: 100%; text-align: center; margin: 0;box-sizing: border-box; resize: none;">@inkle._1.inkle</textarea>
	      <input type="submit" value="•••" style="display: none;">
      }

      <div class="text-right inkle-action-buttons">
        <button class="change-parent-button">
          <span class="glyphicon glyphicon-random"></span> Change Parent
        </button>
        <button class="text-danger delete-inkle-button">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </div>
    </span>


    @defining(User.getTourStep(user.uuid)) { tourStep =>
      @if(tourStep == 0) {
        @commons.apps.popover("Extend me!", "bottom", "extend-form-popover center-block") {

          @extendForm() {
            Click here to extend this idea.
          }
        }
      } else {
        @commons.apps.popover("", "bottom", "extend-form-popover extend-form-popover-muted center-block") {

          @extendForm() {
            •••<br>
            extend this idea
          }
        }
      }
    }
  </div>
</div>

<script>
inkleActions('@pageUuid', '@inkle._1.uuid');
</script>