@(user: User, inkle: (Inkle, User), pageUuid: String, rand: String, isNew: Boolean = false)

<div id="page-@pageUuid-@rand-child-@inkle._1.uuid">
	<div class="child">
		<span class="child-ellipsis" style="font-size: 15px; color: #eee;">•••</span>

		@if(!inkle._1.deleted) {
	    @inkle._1.inkle
	  } else {
	    <samp class="text-muted small">[DELETED INKLE]</samp>
	  }
		<span id="page-@pageUuid-@rand-child-@inkle._1.uuid-counter" style="display: none; float: right; color: #ccc; font-size: 12px;"> • @Inkle.childrenCount(inkle._1.uuid) <span style="font-size: 18px;">&therefore;</span> @Inkle.descendantCount(inkle._1.uuid)</span>
	</div>

	<div class="tour">

		@if(isNew) {
			@defining(User.getTourStep(user.uuid)) { tourStep =>

				@if(tourStep < 3) {

					@if(tourStep == 1) {
						@commons.apps.popover("Click on it", "You can also extend this child. Just click on it and see what happens.", "bottom")
					}

					@if(tourStep == 2) {
						@commons.apps.popover("Don't stop here!", "You can extend this too. It goes on and on and on... infinitely.", "bottom")
					}

				}
			}
		}
	</div>
</div>

<script>

  inkleClickActions('#page-@{pageUuid}-@{rand}-child-@{inkle._1.uuid}', '@{pageUuid}', '@inkle._1.uuid', '#page-@{pageUuid}-@{inkle._1.parentUuid}-inkle');
</script>