@(user: User, inkle: (Inkle, User), children: Page[(Inkle, User)], pageUuid: String, page: Int = 0)

@import java.util.UUID

@defining(UUID.randomUUID()) { rand =>
  <div id="page-@pageUuid-@{inkle._1.uuid}-children-wrapper">
    @children.items.map { child =>
      @renderers.inkles.child(user, child, pageUuid.toString, rand.toString)
    }

    @if(children.total > 5) {
      <div style="margin: 5px 0">
        <button style="border: none; background: none;color: #ddd;@if(page <= 0) { color: #eee;}" class="glyphicon glyphicon-chevron-left" id="page-@pageUuid-@{inkle._1.uuid}-children-paginator-previous">
        </button>
        @if(page > 0) {
          <script>
          childrenPaginationActions("#page-@pageUuid-@{inkle._1.uuid}-children-paginator-previous", "@pageUuid", "@inkle._1.uuid", @{page - 1});
          </script>
        }
      @for(i <- 0 to (children.total/5).toInt) {
        <button data-toggle="tooltip" data-placement="top" title="@{i+1}" id="page-@pageUuid-@{inkle._1.uuid}-children-paginator-@i" class="child-pagination-pointer @if(page == i) { selected }">
        </button>
        <script>
          childrenPaginationActions("#page-@pageUuid-@{inkle._1.uuid}-children-paginator-@i", "@pageUuid", "@inkle._1.uuid", @i);
        </script>
      }
        <button style="border: none; background: none;color: #ddd;@if(page >= (children.total/5).toInt) { color: #eee;}" class="glyphicon glyphicon-chevron-right" id="page-@pageUuid-@{inkle._1.uuid}-children-paginator-next">
        </button>
        @if(page < (children.total/5).toInt) {
          <script>
          childrenPaginationActions("#page-@pageUuid-@{inkle._1.uuid}-children-paginator-next", "@pageUuid", "@inkle._1.uuid", @{page + 1});
          </script>
        }
      </div>
    }
  </div>

}
