@(inkle: (Inkle, User), pageUuid: String, rand: String)

<div id="page-@pageUuid-@rand-child-@inkle._1.uuid">
	<div class="child" style="padding: 10px; margin: 5px; font-size: 16px; text-align: left;overflow: auto;">
		<span class="child-ellipsis" style="font-size: 15px; color: #eee;">•••</span>

		@if(!inkle._1.deleted) {
	    @inkle._1.inkle
	  } else {
	    <samp class="text-muted small">[DELETED IDEA]</samp>
	  }
		<span id="page-@pageUuid-@rand-child-@inkle._1.uuid-counter" style="display: none; float: right; color: #bbb; font-size: 12px;"> • @Inkle.childrenCount(inkle._1.uuid) <span style="font-size: 18px;">&therefore;</span> @Inkle.descendantCount(inkle._1.uuid)</span>
	</div>
</div>

<script>

  inkleClickActions('#page-@pageUuid-@rand-child-@inkle._1.uuid', '#page-@pageUuid-@{inkle._1.parentUuid}-inkle', '@routes.Inkles.getInkle(inkle._1.uuid)');
</script>