@(inkle: (Inkle, Inkler))

@import java.util.UUID

@defining(UUID.randomUUID()) { pageUuid =>
<div style="width: 100%; overflow: auto; height: 100%; text-align: center; font-weight: 300;" id="page-@pageUuid-@{inkle._1.uuid}-inkle" class="full-height">

  <div style="display: table; table-layout: fixed; width: 33%; float: left;">
    <div style="padding: 0 30px; display: table-cell; vertical-align: middle; text-align: right; font-size: 14px; color: #888;" class="full-height">
      @Inkle.getParents(inkle._1.uuid).items.map { parent =>
        @defining(inkle._1.parentUuid.getOrElse("") == parent._1.uuid) { isParent =>
          @defining(UUID.randomUUID()) { rand =>
            <div style="margin : 5 px ; cursor : pointer ; @if(isParent) { font-size: 20px; color: #444; } else { margin-right: 35px; font-weight: 300;}" id="@rand-@parent._1.uuid">
            <span style="color : #bbb ;">
            @if(!parent._1.parentUuid.isDefined) { ◉ }
            </span>

            @parent._1.inkle
            @if(isParent) {
              <span style="color : #bbb ; font-size : 18 px ;">
                ••▷
              </span>
            } else {
              <span style="color : #eee ;">
                •••
              </span>
            }
            </div>

            <script>

              inkleClickActions('#@rand-@parent._1.uuid', '#page-@pageUuid-@{inkle._1.uuid}-inkle', '@routes.Inkles.getInkle(parent._1.uuid)');
            </script>
          }
        }
      }
    </div>
  </div>

  @renderers.inkles.central(pageUuid.toString, inkle)

  <div style="display: table; table-layout: fixed; width: 33%; float: left;" class="full-height">
    <div style="display: table-cell; vertical-align: middle;">
      @defining(Inkle.findPageOfChildren(inkle._1.uuid)) { children =>
        @defining(UUID.randomUUID()) { rand =>
          <div id="page-@pageUuid-@{inkle._1.uuid}-children-wrapper">
          @children.items.map { child =>
            @renderers.inkles.extend(child, pageUuid.toString, rand.toString)
          }
          </div>

          @if(children.total > 5) {
            @defining(children.total - 5) { remaining =>
              <div>
                @remaining more @if(remaining == 1) { inkle } else { inkles }
              </div>
            }
          }

        }
      }
    </div>
  </div>
</div>
}