@(user: User, inkle: (Inkle, User))

@import java.util.UUID

@defining(UUID.randomUUID()) { pageUuid =>
<div style="width: 100%; overflow: auto; height: 100%; text-align: center; font-weight: 300;" id="page-@pageUuid-@{inkle._1.uuid}-inkle" class="full-height">
  <div class="col-sm-12 inkle-origin" id="page-@pageUuid-@{inkle._1.uuid}-origin">
    <span class="glyphicon glyphicon-record"></span>

    @Inkle.getOrigin(inkle._1.uuid).map { origin =>
      @if(origin._1.deleted) {
        <samp class="text-muted" style="font-size: 15px">[DELETED ORIGIN]</samp>
      } else {
        @origin._1.inkle
      }

      <script>
        $('#page-@pageUuid-@{inkle._1.uuid}-origin').click(function() {

          renderRoute(jsRoutes.controllers.Inkles.templateOrigin('@origin._1.uuid'), '/origins/@origin._1.uuid', "Inklin");

          return false;
        });
      </script>
    }.getOrElse {
      @if(inkle._1.parentUuid.isEmpty) {
        @inkle._1.inkle
      }
    }
    </div>
  <div style="display: table; table-layout: fixed; float: left;" class="col-sm-4">
    <div style="padding: 0 30px; display: table-cell; vertical-align: middle; text-align: right; font-size: 14px; color: #888;" class="full-height">
      @templates.inkles.parents(inkle, pageUuid.toString)
    </div>
  </div>

  @renderers.inkles.central(user, pageUuid.toString, inkle)

  <div style="display: table; table-layout: fixed; float: left;" class="full-height col-sm-4">
    <div style="display: table-cell; vertical-align: middle;">

      @defining(Inkle.findPageOfChildren(inkle._1.uuid)) { children =>
        @renderers.inkles.children(user, inkle, children, pageUuid.toString)
      }
    </div>
  </div>
</div>
}