@content-width: 500px;
@light-gray: #DFDFDF;
@lightest-gray: #F2F2F2;
@inklin-main: #97C111;

* {
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

body {
	color: #333333;
	font-family: "Helvetica Neue", helvetica, "arial", sans-serif;
	font-size: 13px;
}

a, a:visited {
	color: #888888;
	text-decoration: none;

	&:hover {
		color: @inklin-main;
		text-decoration: none;
	}
}

input[type=text], textarea {
	border: 1px solid @light-gray;
	font-family: "Helvetica Neue", helvetica, "arial", sans-serif;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	font-weight: 200;

	&:focus {
		outline: none;
	}
}

input[type=submit] {
	&:hover {
		background-color: @inklin-main;
		cursor: pointer;
	}
}

@media(max-width: 666px) {
	.main-container {
		display: none;
	}

	.too-small {
		display: block !important;
	}
}

@media(min-width: 666px) {
	.too-small {
		display: none;
	}
}

@media(max-height: 400px) {
	.main-container {
		display: none;
	}

	.too-small {
		display: block !important;
	}
}

@media(min-height: 400px) {
	.too-small {
		display: none;
	}
}

.main-add-btn {
	a {
		background: @inklin-main;
		width: 50px;
		height: 50px;
		border-radius: 100%;
	}
}

.inkle-textarea {
	resize: none;
}

.child {
	border: 1px solid #f8f8f8;
	border-radius: 8px;
	min-height: 46px;

	&:hover {
		background-color: #fafafa;
		cursor: pointer;

		.child-ellipsis {
			color:red;
		}
	}
}

.extend-form-wrapper {
	overflow: auto;
	border-radius: 8px;
	margin: 20px 5px 0;

	.extend-form-switch {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		background: #fafafa;
		cursor: pointer;
		color: #aaa;
		font-size: 14px;

		&:hover {
			background: #f8f8f8;
			color: #888;
		}
	}
}

.transform(@transformer) {
	transform: @transformer;
	-ms-transform: @transformer;
	-moz-transform: @transformer;
	-webkit-transform: @transformer;
	-o-transform: @transformer;
}

//loader

@a: rotate 1s linear infinite;
.kf {
	0% { .transform(rotate(0)) }
	100%{ .transform(rotate(360deg)) }
}

.loader {
	animation: @a;
	-moz-animation: @a;
	-webkit-animation: @a;
	height: 25px;
	margin: auto;
	width: 25px;
	border: 2px solid;
	border-color: @inklin-main;
	border-bottom-color: transparent;
	border-radius: 100%;
	display: block;
}

@keyframes rotate {
	.kf
}

@-webkit-keyframes rotate {
	.kf
}

@-moz-keyframes rotate {
	.kf
}