@import "lib/bootstrap/less/variables.less";
@import "_commons";

* {
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

body {
	color: #333333;
	font-family: "Helvetica Neue", helvetica, "arial", sans-serif;
	font-size: 13px;
}

a, a:visited {
	color: #888888;
	text-decoration: none;

	&:hover {
		color: @inklin-main;
		text-decoration: none;
	}
}

button, a, input, textarea {
	transition: all 0.5s;
}

.pointer {
	cursor: pointer;
	transition: all 0.5s;
}

.radio {
	label {
		display: inline-block;
		position: relative;
		padding-left: 25px;
		margin-right: 15px;
		font-size: 13px;
		background-color: #fefefe;
		.pointer;

		&:before {
			content: "";
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			position: absolute;
			left: 0;
			bottom: 1px;
			border: 2px solid @inklin-main;
			border-radius: 50%;
			transition: all 0.5s;
		}

		&:hover {
			&:before {
				background-color: #f4f4f4;
			}
		}
	}

	input[type=radio] {
		display: none;

		&:checked + label:before {
			background-color: @inklin-main;
			border-color: darken(@inklin-main, 5%);
		}
	}
}

input[type=text], textarea {
	border: 1px solid @light-gray;
	font-family: "Helvetica Neue", helvetica, "arial", sans-serif;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	font-weight: 200;

	&:focus {
		outline: none;
	}
}

input[type=submit] {
	&:hover {
		background-color: @inklin-main;
		.pointer;
	}
}

@media(max-width: 666px) {
	.main-container {
		display: none;
	}

	.too-small {
		display: block !important;
	}
}

@media(min-width: 666px) {
	.too-small {
		display: none;
	}
}

@media(max-height: 400px) {
	.main-container {
		display: none;
	}

	.too-small {
		display: block !important;
	}
}

@media(min-height: 400px) {
	.too-small {
		display: none;
	}
}

.top-menu {

	button {
		color: #bbb;
		padding: 2px 3px;
		border:none;
		background:none;

		&:hover {
			color: @inklin-main;
		}
	}

	.dropdown-menu {
		border: 1px solid #ddd;
		border-radius: 10px;
		min-width: 200px;

		.divider {
			background-color: #f2f2f2;
			margin: 4px 0;
		}

		li {
			a, button {
				text-align: left;
				color: #666;
				padding: 10px 20px;
				overflow: auto;
				width: 100%;

				&:hover {
					color: @inklin-main;
					background-color: #f8f8f8;
				}
			}
		}

		.profile {
			.name {
				font-weight: bold;
				margin-top: 10px;
			}

		}
	}
}

#flash-container {
	width: 100%;
	padding: 15px 20px;
	position: fixed;
	z-index: 1234;
	background-color: rgba(254,254,254,0.8);
	.pointer;

	.flash-item {
		padding: 5px 10px;
		text-align: center;
		font-size: 15px;
	}

	.success {
		color: #ad8;
	}

	.error {
		color: #e88;
	}

	#flash-close {
		font-size: 25px;
		.pointer;
		color: #aaa;
		padding: 10px;

		&:hover {
			color: #e88;
		}
	}

}

.flash {
	background-color: rgba(245, 245, 245, 0.95);
	cursor: pointer;
	padding: 15px;
	position: fixed;
	text-align: center;
	top: 60px;
	z-index: 1030;
	color: @inklin-main;

	.flash-close-button {
		margin: 0 15px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}
}

.flash-error {
	color: #e55;
}

.flash-success {
	color: @inklin-main;
}

#popover-pad {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 100;
	display: none;
	.pointer;
}

.popover-container {
	background-color: #fefefe;
	border-radius: 12px;
	display: none;
	z-index: 101;
	position: absolute;
	top: 100px;
	padding: 10px;

	h3 {
		text-align: center;
		font-weight: 200;
		border-bottom: 1px solid #ddd;
		margin: 0 0 10px;
		padding: 10px 15px;
		font-size: 18px;
	}

	button {
		margin-left: 5px;
	}
}

.main-add-btn {
	a {
		background: @inklin-main;
		width: 50px;
		height: 50px;
		border-radius: 100%;
	}
}

.edit-form-wrapper {
	display: none;
	font-size: 30px;

	button {
		background: none;
		border: none;
		font-size: 15px;
		color: #ddd;

		&:hover {
			color: #888;
		}
	}
}

.inkle-textarea {
	resize: none;
}

.child {
	border-radius: 8px;
	min-height: 46px;
	padding: 10px;
	margin: 5px;
	font-size: 16px;
	text-align: left;
	overflow: auto;
	.pointer;

	&:hover {
		background-color: #fafafa;

		.child-ellipsis {
			color:red;
		}
	}
}

.extend-form-wrapper {
	overflow: auto;
	border-radius: 8px;
	margin: 20px 5px 0;

	.extend-form-switch {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		background: #fafafa;
		.pointer;
		color: #999;
		font-size: 14px;
		border-radius: 8px 8px 0 0;

		&:hover {
			background: #f8f8f8;
			color: #666;
		}
	}
}

.parents-chain-element {
	width: 100%;
	.pointer;
	color: #bbb;

	.parents-chain-pointer {
		width: 10px;
	  float: right;
	  margin: 4px -15px 0;

		.parents-chain-point {
			border: 1px solid #ddd;
			float: right;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #f6f6f6;
			.pointer;
		}

		.parents-chain-point-more {
			border: 4px double #ddd;
			background-color: #fefefe;
		}

		.parents-chain-line {
			border: 1px solid #ddd;
			height: 10px;
			margin-right: 4px;
			float: right;
		}
	}

	&:hover {
		color: #666;

		.parents-chain-point {
			border: 1px solid #ccc;
			background-color: #f0f0f0;
		}
	}
}

.parents-chain-parent {
	font-size: 20px;
	color: #444;
	overflow: auto;
}

.parents-chain-non-parent {
	padding-right: 30px;
	font-weight: 300;
	overflow: visible;
}

.child-pagination-pointer {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #ddd;
	background-color: #fefefe;
	margin: 0 3px;

	&.selected {
		background-color: #eee;
		border-color: #ddd;
	}

	&:hover {
		background-color: #f4f4f4;
		border-color: #ccc;
	}
}

.transform(@transformer) {
	transform: @transformer;
	-ms-transform: @transformer;
	-moz-transform: @transformer;
	-webkit-transform: @transformer;
	-o-transform: @transformer;
}

.origin-brick {
	display: table;
	table-layout: fixed;
	margin-bottom: 30px;
	.pointer;

	.origin-brick-content {
		background-color: #fcfcfc;
		border: 2px solid #f4f4f4;
		height: 150px;
		padding: 15px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border-radius: 10px;

		h3 {
			color: #888;
			font-weight: 300;
		}

		&:hover {
			background-color: #f8f8f8;

			h3 {
				color: #666;
			}
		}
	}
}

//loader

@a: rotate 1s linear infinite;
.kf {
	0% { .transform(rotate(0)) }
	100%{ .transform(rotate(360deg)) }
}

.loader {
	animation: @a;
	-moz-animation: @a;
	-webkit-animation: @a;
	height: 25px;
	margin: auto;
	width: 25px;
	border: 2px solid;
	border-color: @inklin-main;
	border-bottom-color: transparent;
	border-radius: 100%;
	display: block;
}

@keyframes rotate {
	.kf
}

@-webkit-keyframes rotate {
	.kf
}

@-moz-keyframes rotate {
	.kf
}

.inkle-action-buttons {

	button {
		color: #aaa;
		font-size: 13px;
		padding: 5px;
		border: none;
		background: none;

		&:hover {
			text-decoration: none;
			color: #555;
		}
	}

	.text-danger {
		&:hover {
			color: @brand-danger;
		}
	}
}

.inkle-origin {
	padding: 10px;
	position: absolute;
	left: 0;
	color: #aaa;
	.pointer;
	z-index: 15;

	&:hover {
		color: #666;
	}
}

div.tooltip-inner {
	background-color: #f4f4f4;
	color: #aaa;
	border-radius: 10px;
	margin: -1px;
	border: 1px solid #ddd;
	font-size: 11px;
	font-weight: bold;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #ddd;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #ddd;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #ddd;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ddd;
}

.modal-dialog {
	margin-top: 80px;

	.modal-content {
		border-radius: 10px;
		border: none;

		.modal-header {
			border-radius: 10px 10px 0 0;
			text-align: center;
			border: none;
			background-color: #fafafa;

			h4 {
				color: #888;
				font-weight: 200;
				font-size: 16px;
			}
		}

		.modal-footer {
			border-radius: 0 0 10px 10px;
			border-top-color: #f4f4f4;
			margin: 0;
		}

		.modal-body {
			padding: 25px;
		}
	}
}

.btn {
	border-radius: 18px;
}

.btn-primary {
	background-color: @inklin-main;
	border-color: darken(@inklin-main, 5%);

	&:hover {
		background-color: darken(@inklin-main, 5%);
		border-color: darken(@inklin-main, 10%);
	}
}

.btn-default {
	color: #888;
	border-color: #aaa;

	&:hover, &:focus, &:active, &:visited {
		background-color: #f8f8f8;
	}
}

.btn-hover-green {
	background-color: #fefefe;

	&:hover {
		background-color: #fefefe;
		color: @inklin-main;
		border-color: @inklin-main;
	}
}

.glyphicon-random {
	-ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.container {
	margin-top: 0;
}

.custom-popover {

	@arrow-color: #ddd;

	.top {
		.arrow:after {
			border-top-color: @arrow-color;
		}
	}

	.bottom {
		.arrow:after {
			border-bottom-color: @arrow-color;
		}
	}

	.right {
		.arrow:after {
			border-right-color: @arrow-color;
		}
	}

	.left {
		.arrow:after {
			border-left-color: @arrow-color;
		}
	}

	.popover {
		position: relative;
		display: block;
		text-align: center;
		border-radius: 10px;
		border-color: #eee;
		color: #888;
		font-size: 13px;
		padding: 0;
		z-index: 0;

		.popover-title {
			border-radius: 10px 10px 0 0;
			border: none;
		}
	}

	.extend-form-popover {
		box-shadow: none;
		margin-top: 20px;

		.popover-content {
			padding: 0;

			.extend-form-wrapper {
				margin: 0;
			}
		}
	}

	.extend-form-popover-muted {

		.arrow {
			opacity: 0.5;
		}
	}
}

.group-add-popover {
	border: none;
	width: 100%;
	box-shadow: none;
}
