@(inkler: Option[Inkler])

@inkler.map { inkler =>

	@main("Inklin") {
		<div class="full-height" id="home-inkle-form-page">
			<div style="display: table; table-layout: fixed; width: 100%;">
				<div style="display: table-cell; vertical-align: middle;" class="full-height">
					<h1 style="text-align: center; font-weight: 100; margin: 0  0 50px">
						Something in you mind?
					</h1>

					<div style="text-align: center; max-width: 50%; margin: auto;">
					@helper.form(routes.Inkles.create(), 'id -> "home-inkle-form") {
						<textarea id="inkle-textarea" class="inkle-textarea" name="inkle" placeholder="how about..." style="width: 100%; border: 1px solid #ddd; border-radius: 10px;height: 90px; font-size: 25px;padding: 25px; text-align: center;box-sizing: border-box;" autofocus="autofocus" maxlength="80"></textarea>

						<div style="float: right;">
							<input type="submit" value="•••" style="color: #97C111; padding: 0; font-size: 40px; border:none; margin-top: 5px;background:none;">
						</div>
					}
					</div>
					<script>
					addFormActions('@routes.Inkles.create()');
					</script>

				</div>
			</div>
		</div>

		<div id="inkles-wrapper">
		@Inkle.fetchPage(inkler.uuid).items.map { item =>
			@renderers.inkles.inkle(item)
		}
		</div>
	}
}.getOrElse {
	@secondary("Inklin • Welcome") {
		<div class="text-center">
			<h3>a thinking tool.</h3>
			<a href="@routes.Inklers.signin()">Sign In</a> |
			<a href="@routes.Inklers.signup()">Sign Up</a>

			<p style="margin-top: 30px; text-style: italic;">inklin is currently on private beta.</p>
		</div>
	}
}

