@(inkles: Page[(Inkle, Inkler, Box)], openBoxes: Seq[Box], secretBoxes: Seq[Box], membered: Seq[Box], followed: Seq[Box], currentInkler: Inkler)

@import scala.util.Random

@main("Inklin", currentInkler) {
	<script src="@routes.Assets.at("javascripts/scripts.js")" type="text/javascript"></script>
	<script>
		scroller("/inkles/fetch/");
	</script>

	<div id="sidebar">
		@helper.form(routes.Boxes.create()) {
			<h3>Create a box</h3>

			<p>
				<input type="text" name="name" placeholder="Box name" class="box-field">
				<input type="submit" value="" class="box-submit">
			</p>

			<p>
				<input type="checkbox" name="secret" id="secret" value="true">
				<label for="secret">Make secret (only members can see and add inkles)</label>
			</p>
		}

		<h3>Your secret boxes (@secretBoxes.size)</h3>

		<ul>
		@secretBoxes.map { box =>
			<li>
				<a href="@routes.Boxes.view(box.id)">
				@box.name
				</a>
				<a class="sidebar-inkle-toggler" id="@box.id-form-toggler"  href="javascript:void(0)">
					+
				</a>
			</li>
			<div class="sidebar-inkle-form hidden" id="@box.id-form-wrapper">
				<img class="sidebar-inkle-bubbler" src="@routes.Assets.at("images/sidebar_bubbler.png")">
				@defining(box.id + "-form") { formId =>
					@helper.form(routes.Inkles.create(box.id), 'id -> formId) {
						<textarea id="@box.id-form-textarea" name="inkle" placeholder="how about..." maxlength="80"></textarea>
						<input type="submit" value="•••">
						<img class="hidden right" id="@box.id-form-loader" src="@routes.Assets.at("images/loader.gif")">
					}
				}
			</div>
			<script>
				newInklePrepender("@box.id-form", @box.id);
				submitOnReturn("@box.id-form");

				$("#@box.id-form-toggler").click(function() {
					$("#@box.id-form-wrapper").toggle();
				});
			</script>
		}
		</ul>

		<h3>Your open boxes (@openBoxes.size)</h3>

		<ul>
		@openBoxes.map { box =>
			<li>
				<a href="@routes.Boxes.view(box.id)">
				@box.name
				</a>
				<a class="sidebar-inkle-toggler" id="@box.id-form-toggler"  href="javascript:void(0)">
					+
				</a>
			</li>

			<div class="sidebar-inkle-form hidden" id="@box.id-form-wrapper">
				<img class="sidebar-inkle-bubbler" src="@routes.Assets.at("images/sidebar_bubbler.png")">
				@defining(box.id + "-form") { formId =>
					@helper.form(routes.Inkles.create(box.id), 'id -> formId) {
						<textarea id="@box.id-form-textarea" name="inkle" placeholder="how about..." maxlength="80"></textarea>
						<input type="submit" value="•••">
						<img class="hidden right" id="@box.id-form-loader" src="@routes.Assets.at("images/loader.gif")">
					}
				}
			</div>
			<script>
				newInklePrepender("@box.id-form", @box.id);
				submitOnReturn("@box.id-form");

				$("#@box.id-form-toggler").click(function() {
					$("#@box.id-form-wrapper").toggle();
				});
			</script>
		}
		</ul>

		@if(membered.size > 0) {
			<h3>Boxes you are a member (@membered.size)</h3>
			<ul>
			@membered.map { box =>
				<li>
					<a href="@routes.Boxes.view(box.id)">
						@box.name
					</a>
					<a class="sidebar-inkle-toggler" id="@box.id-form-toggler"  href="javascript:void(0)">
						+
					</a>
				</li>

				<div class="sidebar-inkle-form hidden" id="@box.id-form-wrapper">
					<img class="sidebar-inkle-bubbler" src="@routes.Assets.at("images/sidebar_bubbler.png")">
					@defining(box.id + "-form") { formId =>
						@helper.form(routes.Inkles.create(box.id), 'id -> formId) {
							<textarea id="@box.id-form-textarea" name="inkle" placeholder="how about..." maxlength="80"></textarea>
							<input type="submit" value="•••">
							<img class="hidden right" id="@box.id-form-loader" src="@routes.Assets.at("images/loader.gif")">
						}
					}
				</div>
				<script>
					newInklePrepender("@box.id-form", @box.id);
					submitOnReturn("@box.id-form");

					$("#@box.id-form-toggler").click(function() {
						$("#@box.id-form-wrapper").toggle();
					});
				</script>
			}
			</ul>
		}

		<h3>Followed boxes (@followed.size)</h3>
		<ul>
			@followed.map { box =>
				<li>
					<a href="@routes.Boxes.view(box.id)">@box.name</a>
					<a class="sidebar-inkle-toggler" id="@box.id-form-toggler"  href="javascript:void(0)">
						+
					</a>
				</li>

				<div class="sidebar-inkle-form hidden" id="@box.id-form-wrapper">
					<img class="sidebar-inkle-bubbler" src="@routes.Assets.at("images/sidebar_bubbler.png")">
					@defining(box.id + "-form") { formId =>
						@helper.form(routes.Inkles.create(box.id), 'id -> formId) {
							<textarea id="@box.id-form-textarea" name="inkle" placeholder="how about..." maxlength="80"></textarea>
							<input type="submit" value="•••">
							<img class="hidden right" id="@box.id-form-loader" src="@routes.Assets.at("images/loader.gif")">
						}
					}
				</div>
				<script>
					newInklePrepender("@box.id-form", @box.id);
					submitOnReturn("@box.id-form");

					$("#@box.id-form-toggler").click(function() {
						$("#@box.id-form-wrapper").toggle();
					});
				</script>
			}
		</ul>

		<h3>Popular boxes</h3>
		<ul id="sidebar-popular-suggestions">
			@Box.suggestPopular(currentInkler.id, 3).map { box =>
				<li>
					<div class="sidebar-popular-suggestion-box-name">
						<a href="@routes.Boxes.view(box._1.id)">@box._1.name</a>
					</div>

					<div class="sidebar-popular-suggestion-content">
						<div class="sidebar-popular-suggestion-inkler">
							by <a href="@routes.Inklers.view(box._2.id)">@box._2.username</a>
						</div>
						@Box.followerCount(box._1.id)
						@if(Box.followerCount(box._1.id) == 1) {
							follower
						} else {
							followers
						}
						. >> number of inkles here <<
						@if(false /** number of inkles == 1 **/) {
							inkle
						} else {
							inkles
						}
						<div class="sidebar-box-follow-button">
							<img class="hidden" id="sidebar-suggestions-@box._1.id-follow-loader" src="@routes.Assets.at("images/loader.gif")">
							<a id="sidebar-suggestions-@box._1.id-follow-button"  href="javascript:void(0)">
								Follow
							</a>
							<div class="sidebar-box-followed-flag hidden" id="sidebar-suggestions-@box._1.id-followed-flag">
								<img src="@routes.Assets.at("images/followed.png")">
								Followed
							</div>
						</div>
					</div>
				</li>
				<script>
					$("#sidebar-suggestions-@box._1.id-follow-button").click(function() {
						$("#sidebar-suggestions-@box._1.id-follow-loader").show();
						$.ajax({
							url: "boxes/follows/@box._1.id",
							type: "POST",
							success: function() {
								$("#sidebar-suggestions-@box._1.id-follow-button").hide();
								$("#sidebar-suggestions-@box._1.id-followed-flag").show()
							}
						}).done(function() {
							$("#sidebar-suggestions-@box._1.id-follow-loader").hide()
						});
					});
				</script>
			}
		</ul>
	</div>

	<div id="content">
		@if(inkles.items.size < 10) {
			<div class="box-suggestions">
				<h2>Popular boxes to follow:</h2>
				@Box.suggestPopular(currentInkler.id, 9).map { box =>
					<div class="box-view-brick">
						<span>
							<h3><a href="@routes.Boxes.view(box._1.id)">@box._1.name</a></h3>
							<div>
								<span>by</span>
								<span><a href="@routes.Inklers.view(box._2.id)">@box._2.username</a></span>
							</div>
							<div>
								@Box.followerCount(box._1.id)
								@if(Box.followerCount(box._1.id) == 1) {
									follower
								} else {
									followers
								}
								. >> number of inkles here <<
								@if(false /** number of inkles == 1**/ ) {
									inkle
								} else {
									inkles
								}
							</div>
							<div class="box-suggestions-follow">

								<a class="link-button" id="box-suggestions-@box._1.id-follow-button" href="#">Follow</a>
								<div class="hidden" id="box-suggestions-@box._1.id-follow-loader" >
									<img src="@routes.Assets.at("images/loader.gif")">
								</div>
								<div class="box-suggestions-followed-flag hidden" id="box-suggestions-@box._1.id-followed-flag">
									<img src="@routes.Assets.at("images/followed.png")"> Followed
								</div>

								<script>
									$("#box-suggestions-@box._1.id-follow-button").click(function() {
										$("#box-suggestions-@box._1.id-follow-loader").show();

										$.ajax({
											url: "/boxes/follows/@box._1.id",
											type: "POST",
											success: function() {
												$("#box-suggestions-@box._1.id-follow-button").hide();
												$("#box-suggestions-@box._1.id-followed-flag").show();
												$("#box-suggestions-@box._1.id-follow-loader").hide();
											}
										});

										return false;
									});
								</script>
							</div>
						</span>
					</div>
				}
			</div>
		}

		<div id="inkles-wrapper">
			@defining(new Random) { randomHandle =>
				@inkles.items.map { inkle =>
					@defining(randomHandle.nextInt(10000)) { stackId =>
						<div class="stack" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-stack">
							<div class="stack-box">
								into @Inkler.findUsernameById(inkle._3.owner)'s <a href="/boxes/@inkle._3.id">@inkle._3.name</a>
								@if(inkle._3.secret == true) {
									<img src="@routes.Assets.at("images/key.png")">
								} else {
									<img src="@routes.Assets.at("images/open_box.png")">
								}
							</div>

							<div
								class="sibling top-sibling"
								id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-top-sibling"
								parent="@inkle._1.parentId"
								self="@inkle._1.id"
							>
								@if(inkle._1.parentId != null) {
									<div class="sibling-has-parent">
										<img src="@routes.Assets.at("images/has_parent.png")">
									</div>
								}

								<div class="sibling-date" title="@inkle._1.created.format("MMM dd, yyyy - hh:mm aa")">
								@inkle._1.created.format("MMM dd, yyyy - hh:mm aa")
								</div>

								<div class="top-sibling-content">
									<span>@inkle._1.inkle</span>
								</div>

								<div class="sibling-count">
									@defining(Inkle.childrenCount(inkle._1.id)) { count =>
										@if(count == 1) {
											<b>@count</b> reply
										} else {
											<b>@count</b> replies
										}
									}
								</div>

								<div class="sibling-inkler">
									<span><a href="@routes.Inklers.view(inkle._2.id)">@inkle._2.username</a></span>
								</div>
							</div>

							<div
								class="sibling-wrapper"
								id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling-wrapper"
								stack="@stackId"
								level="0"
							>
								<img class="bubbler" src="@routes.Assets.at("images/bubbler.png")">

								<div class="add-sibling-form" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-extend-form">
									<div class="add-sibling-form-switch" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form-switch">write a reply</div>
									<div class="add-sibling-form-content" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form-wrapper">
										@defining("page-" + inkles.page + "-stack-" + stackId + "-inkle-" + inkle._1.id + "-form") { formId =>
											@helper.form(routes.Inkles.extend(inkle._1.id), 'id -> formId) {
												<textarea
													name="inkle"
													placeholder="how about..."
													maxlength="80"
													id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form-textarea"
												></textarea>

												<span>
													<input
														type="submit"
														value="•••"
														id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form-submit"
													>
												</span>

												<span class="add-sibling-form-loader hidden" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form-loader">
													<img src="@routes.Assets.at("images/loader.gif")">
												</span>
											}
										}

										<script>
											submitOnReturn("page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form");
											siblingFormSwitch("page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-form");
											siblingFormHandler(@inkles.page, @stackId, @inkle._1.id);
											stackPrepender(@inkles.page, @stackId, @inkle._1.id);
										</script>
									</div>
								</div>

								<div class="siblings-loader hidden" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-siblings-loader">
									<span>
										<img src="@routes.Assets.at("images/loader.gif")">
									</span>
								</div>

								<div class="siblings" id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-siblings">
									@Inkle.findChildren(inkle._1.id).map { child =>
										<div
											class="sibling page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling"
											id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling-@child._1.id"
										>
											<div class="sibling-date" title="@child._1.created.format("MMM dd, yyyy - hh:mm aa")">
											@child._1.created.format("MMM dd, yyyy - hh:mm aa")
											</div>
											<div
												class="sibling-content page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling-content"
												id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling-@child._1.id-content"
											>
												<span>@child._1.inkle</span>
											</div>

											<div class="sibling-count">
												@defining(Inkle.childrenCount(child._1.id)) { count =>
													@if(count == 1) {
														<b>@count</b> reply
													} else {
														<b>@count</b> replies
													}
												}
											</div>
											<div class="sibling-inkler">
												<span><a href="@routes.Inklers.view(child._2.id)">@child._2.username</a></span>
											</div>
										</div>

										<script>
											$("#page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-sibling-@child._1.id").click(function() {
												appendStack(@inkles.page, @stackId, @inkle._1.id, @child._1.id)
											});
										</script>
									}

									<div id="page-@inkles.page-stack-@stackId-inkle-@inkle._1.id-last-pointer" class="hidden"></div>
								</div>
							</div>
						</div>
					}
				}
			}

		</div>

		<div class="hidden" id="pagination-loader">
			<img src="@routes.Assets.at("images/loader.gif")">
		</div>
	</div>
}