@(signinForm: Form[(String, String)], signupForm: Form[(String, String, String, String, String)])

@secondary("Welcome to inklin") {

	<div id="top-links">
		<div id="top-message">
			<div id="top-message-final">
				start inkling.
			</div>
		</div>
		<a href="@routes.Inklers.signin()" id="signin-button">Sign in</a>
		<span>OR</span>
		<a href="@routes.Inklers.signup()" id="signup-button">Sign up</a>

		<script>
			$("#signin-button").click(function() {
				$("#landing-signup-form").hide();
				$("#landing-signin-form").show();

				return false;
			});

			$("#signup-button").click(function() {
				$("#landing-signin-form").hide();
				$("#landing-signup-form").show();

				return false;
			})
		</script>
	</div>
	<div>
		<div id="landing-page-form">
			<div class="hidden" id="landing-signup-form">
				@helper.form(routes.Inklers.create) {
					<table>
						<img id="signup-form-bubbler" src="@routes.Assets.at("images/landing_bubbler.png")">
						<tr>
							<td>
							@helper.inputText(
								signupForm("firstName"),
								'_label             -> None,
								'_showConstraints   -> false,
								'placeholder        -> "First name",
								'id                 -> "first-name"
							)
							</td>

							<td>
							@helper.inputText(
								signupForm("lastName"),
								'_label             -> None,
								'_showConstraints   -> false,
								'placeholder        -> "Last name",
								'id                 -> "last-name"
							)
							</td>
						</tr>

						<tr>
							<td colspan="2">
							@helper.inputText(
								signupForm("email"),
								'_label             -> None,
								'_showConstraints   -> false,
								'placeholder        -> "Email"
							)
							</td>
						</tr>

						<tr>
							<td colspan="2">
							@helper.inputText(
								signupForm("username"),
								'_label             -> None,
								'_showConstraints   -> false,
								'placeholder        -> "Username"
							)
							</td>
						</tr>

						<tr>
							<td colspan="2">
							@helper.inputPassword(
								signupForm("password"),
								'_label             -> None,
								'_showConstraints   -> false,
								'placeholder        -> "Password"
							)
							</td>
						</tr>
					</table>
					<input type="submit" value="Sign up">
				}
			</div>
			<div id="landing-signin-form">
				@helper.form(routes.Inklers.authenticate()) {
					@signinForm.globalError.map { error =>
						<p class="error">
							@error.message
						</p>
					}
					<table>
						<img id="signin-form-bubbler" src="@routes.Assets.at("images/landing_bubbler.png")">
						<tr>
							<td>
							@helper.inputText(
								signinForm("usernameOrEmail"),
								'_label           -> Nil,
								'_showConstraints -> false,
								'placeholder      -> "Username or Email"
							)
							</td>
						</tr>

						<tr>
							<td>
							@helper.inputPassword(
								signinForm("password"),
								'_label           -> Nil,
								'_showConstraints -> false,
								'placeholder      -> "Password"
							)
							</td>
						</tr>

						<tr>
							<td><input type="submit" value="Sign in"></td>
						</tr>
					</table>
				}
			</div>
		</div>
	</div>
}