@(title: String, currentUser: User)(content: Html)

<!DOCTYPE html>

<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

		<link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel='stylesheet'>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.min.css")">
		<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'-->

		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
		<script src="@routes.Assets.versioned("js/autosize.jquery.min.js")"></script>

		<script src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>
		<script src="@routes.Assets.versioned("js/scripts.js")"></script>
		<script src="@routes.Assets.versioned("js/router.js")"></script>
		<script type="text/javascript" src="@routes.Apps.javascriptRoutes()"></script>
		<script src="@routes.Assets.versioned("js/my.js")"></script>

		<script>
		if (location.hostname == "inklin.herokuapp.com") {
		$(document ).ready(function () {

			$(document.body).html(

				'<div style="padding:10px;margin-top: 100px; font-family: \'Helvetica Neue\', Helvetica, Arial, sans-serif; font-weight: 200;width: 100%; text-align: center;">' +
				'<h3 style="font-size: 30px; font-weight: 200;">' +
				'Redirecting to <b>inklin.co</b>...' +
				' </h3>' +
				'<span style="margin-top: 20px; color: #aaa;">' +
				' <a href="http://inklin.co" style="color: #97c115;text-decoration: none; font-weight: 400;">Click here</a> if it doesn\'t redirect in 5 seconds.' +
				'</span>' +
				'</div>'
			);
		});
		setTimeout((function() {
		     window.location.replace("http://inklin.co");
		   }), 5000);
		}
		</script>
	</head>
	<body style="background-color: #fefefe;">
		<div id="popover-pad"></div>
		<div style="width: 100%; position: fixed; top: 75px;z-index: 1060; text-align: center;">
			<span class="loader" id="main-loader" style="display:none;"></span>
		</div>

		<!--div id="flash-container">
			<span class="pull-right" id="flash-close">&times;</span>
			<div id=flash-content>
					<div class="success flash-item">
					</div>
					<div class="error flash-item">
					</div>

			</div>
		</div-->

		<!-- delete modal -->
		@helper.form(routes.Inkles.delete(), 'id -> "delete-inkle-form") {
			@commons.modal("Delete Inkle", "inkle-delete") {
				<div class="radio">
					<div>
						<input id="inkle-delete-radio-keep" type="radio" name="children" value="keep" checked>

						<label for="inkle-delete-radio-keep">Soft Delete</label>
						<p class="text-muted">only the content of this inkle will be erased, the child ideas will not be affected</p>
					</div>
					<div>
						<input id="inkle-delete-radio-delete" type="radio" name="children" value="delete">

						<label for="inkle-delete-radio-delete">Hard Delete</label>
						<p class="text-muted">this inkle will be deleted with every descendant it has</p>
					</div>
				</div>

				<input type="hidden" name="uuid" id="delete-inkle-uuid">
				<input type="hidden" id="deleted-inkle-page">
			} {
				<button type="button" class="btn btn-default" data-dismiss="modal">
			    <span class="glyphicon glyphicon-remove"></span>
			    Cancel
		    </button>
		    <button type="submit" class="btn btn-danger">
			    <span class="glyphicon glyphicon-trash"></span>
			    Delete
		    </button>
			}
		}

		<!-- change parent modal -->
		@commons.modal("Change Inkle Parent", "change-parent") {
			<div>
				<h4>Select a new parent:</h4>
				<div id="change-parent-modal-content">

				</div>
			</div>

			<input type="hidden" name="uuid" id="change-parent-inkle-uuid">
		} {
			<button type="button" class="btn btn-default" data-dismiss="modal">
		    <span class="glyphicon glyphicon-remove"></span>
		    Cancel
	    </button>
	    <button type="submit" class="btn btn-primary">
		    <span class="glyphicon glyphicon-random"></span>
		    Change Parent
	    </button>
		}

		<!-- add inkle modal -->
		@commons.modal("Something in your mind?", "add-modal") {
			@helper.form(routes.Inkles.create(), 'id -> "modal-inkle-form") {
		    <p class="text-center">Big ideas start with an inkling. Write it down:</p>
		    <textarea id="modal-inkle-textarea" class="inkle-textarea" name="inkle" placeholder="how about..." style="width: 100%; border: 1px solid #ddd;height: 90px; font-size: 25px;padding: 25px; text-align: center;box-sizing: border-box;" autofocus="autofocus" maxlength="70"></textarea>

		    <button type="button" class="btn btn-primary pull-right" style="color: #97C111; padding: 0; font-size: 40px; border:none; margin-top: 5px;background:none; line-height: 18px; margin: 10px 0;">•••</button>
		   }
		} {

		}

		<div>
			<div style="text-align: center; padding: 11px 50px;position: fixed;width: 100%;top: 0;background-color: #fafafa;z-index: 50;">
				<a class="home-link" href="@routes.Apps.home()">
					<img src="@routes.Assets.at("images/big_logo.png")" style="height: 30px;">
				</a>

				<div style="margin-right: 70px;font-size: 25px;position: fixed; right: 0;top: 10px;padding: 1px" class="pull-right top-menu">
					<div class="dropdown">
						<button data-target="#add-modal" data-toggle="tooltip" data-placement="bottom" title="New Inkle" id="main-add-btn" class="glyphicon glyphicon-plus">
						</button>

						<button data-target="@routes.Apps.origins()" data-toggle="tooltip" data-placement="bottom" title="Origins" id="main-origin-btn" class="glyphicon glyphicon-record">
						</button>

						<button id="main-menu-btn" data-toggle="dropdown" class="glyphicon glyphicon-chevron-down" style="color: #97C111;border:none;background:none;">
						</button>

						<ul id="main-dropdown-menu" class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="main-menu-btn" style="right: 0;left: auto;">
							<li class="profile">
								<button id="main-profile-btn">
									<div style="background-color: #eee; width: 40px; height: 40px; border-radius: 30%; border: #ddd 1px solid; margin-right: 10px;" class="pull-left">
										<img style="width: 100%" src="@routes.Assets.versioned("images/inklin_no_bg.svg")" onerror="this.onerror = null; this.src='@routes.Assets.versioned("images/inklin_no_bg.png")'" >
									</div>
									<div class="name">@currentUser.name</div>
								</button>
								<script>
									$('#main-profile-btn').click(function() {
										renderRoute(jsRoutes.controllers.Users.templateView('@currentUser.username'), '/@currentUser.username', "Inklin • @currentUser.name");

										$('#main-dropdown-menu' ).dropdown('hide');

										return false;
									});
								</script>
							</li>

							<li role="presentation" class="divider"></li>

							<li role="presentation">
								<a role="menuitem" href="#">Groups</a>
							</li>

							<li role="presentation" class="divider"></li>

							<li role="presentation">
								<a role="menuitem" href="#">Account Settings</a>
							</li>

							<li role="presentation">
								<a role="menuitem" href="@routes.Users.signout()">Sign Out</a>
							</li>
					  </ul>
					</div>
				</div>
			</div>

			<div style="margin: 56px auto 50px; padding: 0 30px; max-width: 1200px;" class="main-container" id="template-container">
				@content
			</div>

			<span style="display: none;padding-top : 55px;" class="too-small full-height">
				<div style="display: table; table-layout: fixed;width: 100%;" class="full-height">
					<div style="font-size: 16px; text-align: center;padding: 15px; font-weight: 100; color: #888; display: table-cell; vertical-align: middle;">
						<div style="margin-bottom: 10px;">
							<img style="width: 140px;" src="@routes.Assets.versioned("images/inklin_shrink.svg")" onerror="this.onerror = null; this.src='@routes.Assets.versioned("images/inklin_shrink.png")'" >
						</div>
						<h2 style="font-weight: 200;">
							Inklin needs more space to fly!
						</h2>
						Sorry, the screen size is too small. We're working on a mobile version and it should be available soon.
						<br>
						<br>
						In the mean time, you can open inklin on a desktop computer or a larger tablet and enjoy!
					</div>
				</div>
				<script>
					fullHeight();
				</script>
			</span>
		</div>

	</body>
</html>