@(title: String, inkler: Inkler)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/inkles.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.timeago.js")" type="text/javascript"></script>
	</head>
	<body>
		<script>
			jQuery(document).ready(function() {
				jQuery("div.sibling-date").timeago();
			});
		</script>
		<div id="header">
			<div id="header-content">
				<div id="header-logo">
					<a href="@routes.Apps.home()">
						<img src="@routes.Assets.at("images/logo.png")" alt="inklin">
					</a>
				</div>

				<div id="header-links">
					<a id="header-links-switch">
						<div id="header-links-switch-avatar"></div>
						<span id="header-links-switch-username">@inkler.username</span>
					</a>

					<div id="header-links-content" class="hidden">
						<a href="@routes.Inklers.view(inkler.id)">
							View profile
						</a>

						<a href="@routes.Inklers.signout()">
							Sign out
						</a>
					</div>
				</div>

				<script>
					$("#header-links-switch").click(function() {
						$("#header-links-content").toggle();
					});
					$("#header-links-content").mouseleave(function() {
						$("#header-links-content").hide();
					});
				</script>
			</div>
		</div>
		<div id="container">
			@content
		</div>
	</body>
</html>
