@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.min.css")">

		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
		<script src="@routes.Assets.versioned("js/scripts.js")"></script>	</head>
	<body style="background-color: #fefefe; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
		<div>
			<div style="text-align: center; padding: 20px;">
				<img src="@routes.Assets.at("images/big_logo.png")">
			</div>
			<div style="margin-top: 120px;">
				@content
			</div>
		</div>

	</body>
</html>